<div>
  <button>
      <img src="favicon.ico" width="30">
  </button>
</div>

<div style = "position:relative; left:10px; top:2px;">
  <button>
      <p>previous</p>
  </button>

  
  <div class="outer">
    <iframe class = "inner"
    src = "https://www.youtube.com/watch?v=S9k0Ofub9Zk&list=RDS9k0Ofub9Zk&start_radio=1">
    
    </iframe>
  </div>
  
  <button style = "position:relative; left:300px">
    <p>next</p>
  </button> 
</div>

<div style = "position:relative; left:80px; top:2px;">

</div>